a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed !important;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clickable:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
[data-bs-theme="dark"] .clickable:hover {
  background-color: #2a2a2a;
}

.selected {
  background-color: #f0f0f0;
}
[data-bs-theme="dark"] .selected {
  background-color: #2a2a2a;
}
